.how-to-circle h3 {
  font-size: 30px;
  font-weight: 400;
  padding: 0 7rem;
}

.how-to-circle h1 {
  font-size: 70px;
  font-weight: 600;
  padding: 0px 55px 0px 55px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-group button {
  border: none;
  background: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}