.button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.create-circle {
  margin-right: 25px;
  position: absolute;
}

.button button {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: 600;
  z-index: 99;
}
