
.button {
    display: flex;
    flex-direction: row;
    background: url('../../../assets/create-circle.svg') no-repeat center;
    margin: -3rem;
    padding: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .button button {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 28px;
  }