@keyframes bounce {
  0% {
    transform: rotate(-5.18deg);
  }

  100% {
    transform: rotate(6deg);
  }
}

.player {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 25rem;

  .name {
    animation: bounce 1s alternate-reverse infinite ease-in-out;
    color: #000;
    font-family: Poppins sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 112.5%;
    text-align: center;
  }
}
